@font-face {
    font-family: 'Tajawal-Bold';
    src: url('../webfonts/Tajawal-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almarai-Regular';
    src: url('../webfonts/Almarai-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
